* 
section {
    border: 1px solid black; 
    padding: 5px 20px 5px 20px;
    margin-top:50px;
    margin-left: 60px;
    font-size:50px ; width: 50px;
    color: red;
}

#miiddeparrafo {

font-size: 20px;

}

#parrafo_especial {

font-family: 'Pacifico', cursive;
color: green;
width: 50px;

}

section p {

    font-size: 50px;
    color: rgb(196, 165, 182);
}